@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&display=swap');
.temp{
    border: 2px solid blue;
}
.temp1{
    border: .2px solid rgb(233, 230, 230);
}
.pps-fs{
    font-family: 'Poppins', sans-serif;
}
.lbs-fs{
    font-family: 'Lobster', cursive;
}
.right-box-1{
    grid-template-rows: 1.5fr 3fr 2fr;
}
.right-box-1>section.section-login>input,.right-box-1>section.section-login>button{
    padding: .5rem .5rem;
    width: 80%;
    outline: none;
    font-size: .8rem;
    border-radius: 0.125rem/* 2px */;

}
.right-box-1>section.section-login>input::placeholder{
    font-size:.8rem;
}
